@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Gilroy";
  font-style: regular;
  font-weight: 400;
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: regular;
  font-weight: 900;
  src: url("/fonts/Gilroy-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: regular;
  font-weight: 800;
  src: url("/fonts/Gilroy-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: regular;
  font-weight: 700;
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: regular;
  font-weight: 600;
  src: url("/fonts/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: regular;
  font-weight: 500;
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: regular;
  font-weight: 100;
  src: url("/fonts/Gilroy-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: regular;
  font-weight: 200;
  src: url("/fonts/Gilroy-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  font-style: regular;
  font-weight: 300;
  src: url("/fonts/Gilroy-Light.ttf") format("truetype");
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    overflow-x: hidden;
  }
}

*::-webkit-scrollbar {
  display: none;
}
* {
  font-family: "Gilroy";
}
body {
  /* font-family: "Gilroy"; */
  padding: 0px;
  margin: 0px;
  background-color: #000;
  color: #fff;
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  /* height: 100vh; */
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
  object-fit: cover;
}

.scroll-section-inner img {
  max-width: 80vw;
  height: 65vh;
  object-fit: cover;
}

.text-stroke {
  text-shadow: rgb(255, 255, 255) 2px 0px 0px,
    rgb(255, 255, 255) 1.75517px 0.958851px 0px,
    rgb(255, 255, 255) 1.0806px 1.68294px 0px,
    rgb(255, 255, 255) 0.141474px 1.99499px 0px,
    rgb(255, 255, 255) -0.832294px 1.81859px 0px,
    rgb(255, 255, 255) -1.60229px 1.19694px 0px,
    rgb(255, 255, 255) -1.97998px 0.28224px 0px,
    rgb(255, 255, 255) -1.87291px -0.701566px 0px,
    rgb(255, 255, 255) -1.30729px -1.5136px 0px,
    rgb(255, 255, 255) -0.421592px -1.95506px 0px,
    rgb(255, 255, 255) 0.567324px -1.91785px 0px,
    rgb(255, 255, 255) 1.41734px -1.41108px 0px,
    rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}
.rotatee {
  animation: rotation 8s infinite linear; /* Adjusted total duration to include the 3s rotation and 1s pause */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  47% {
    transform: rotate(0deg); /* Pause for the first 25% of the animation */
  }
  50% {
    transform: rotate(90deg);
  }
  97% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  transform-origin: bottom;
}
.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  transform-origin: top;
}
.inset-shadow {
  box-shadow: inset 0px 81px 57px -8px rgba(0, 0, 0, 0.4),
    inset 4px -86px 43px -31px rgba(0, 0, 0, 0.4);
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.age {
  -webkit-text-stroke: 3px white;
  color: transparent;
  background-clip: text;
}

.y-mandatory {
  scroll-snap-type: y mandatory;
}

.panel {
  scroll-snap-align: start;
  position: relative;
}
.no-scroll {
  overflow: hidden;
}

.shd {
  -webkit-box-shadow: inset 200px 200px 300px 2000px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 200px 200px 300px 2000px rgba(0, 0, 0, 0.45);
  box-shadow: inset 200px 200px 300px 2000px rgba(0, 0, 0, 0.45);
}
